@mixin imgrepl {
    text-indent: -9999px;
    overflow:hidden;
    text-decoration:none;
    border:none;

    &:hover {
        border:none;
    }
  }

body {
    color:#fff;
    font-family:'Redressed';
    font-size:20px;
}

a {
    color:white;

}

button {
    background: #981D1D;
    border:none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    padding:12px 28px;


    font-family: Redressed;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 46px;

    color: #FFFFFF;

    text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.25);

    transition:all 0.2s;

    animation: littleFadeIn 0.5s;

    margin-top:20px;
    margin-bottom:10px;

    &:hover {
        margin-top:22px;
        margin-left:2px;
        margin-bottom:8px;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
    }

    &:active {
        margin-top:24px;
        margin-left:4px;
        margin-bottom:4px;
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
    }

    @media screen and (max-width:600px) {
        font-size:25px;
    line-height: 30px;
    }


}

.allContainer {
    display: grid;
    min-height:100vh;
   grid-template-rows: auto 50px ;


    .pageContainer {
        text-align:center;

        main {
         height:100%;
        display:grid;
        grid-template-rows: 50% 1fr auto;
        padding-left: 10px;
        padding-right: 10px;

         @media screen and (max-height:600px) {
            grid-template-rows: 1fr auto;
            grid-template-columns: 50% 50%;

            .answerButton {
               grid-column: 1 / span 2;

               button {
                  font-size:30px;
                  padding: 5px 17px;
               }
            }
         }
        }

      }
        
    footer {
        font-family:Arial, Helvetica, sans-serif;
        font-size:13px;
        text-align: center;
        line-height:1.2em;
        padding-top:20px;

        @media screen and (max-width:700px) {
            font-size:11px;
        }
    }

    .toggleableMenu {
        display:none;
    }

}

.mainContainer {
    .formHolder {
       display:grid;
       height:100%;
       grid-template-rows:1fr;
       justify-items: center;

       .questionHolder, .answerHolder {
         grid-column: 1;
         grid-row: 1;
         align-self: center;
       }
       .questionHolder {
          width:100%;
       }

        h2 {
            font-size:40px;
            line-height:1.3em;
            transition:all 0.5s;

         @media screen and (max-height:600px) {
            font-size:25px;
         }
        }


        .countrySelect {
            max-width:500px;
            margin:0 auto;


            input {
                font-family: 'Redressed';

            }
        }

        .country2Holder {
            display:flex;
            max-width:500px;
            margin:10px auto;
            .countrySelect {
                flex-basis:90%;
                margin-left:40px;
            }
            .questionMark {
               display: block;
               flex-basis: 10%;
               font-size: 30px;
               line-height: 45px;
            }
        }
    }

    .showAnswer {
      .questionHolder {
         filter:blur(3px);
      }
    }

    .answerHolder {
        max-width:600px;
        z-index: 1;


        h4 {
            text-align:center;
            font-size:40px;

            @media screen and (max-width:400px) {
               text-align:center;
            font-size:30px;
            }
            @media screen and (max-height:600px) {
               text-align:center;
            font-size:20px;
            }
        }

        .answerFigures {
            height:300px;
            width:300px;
            border-radius: 150px;
            background-color:rgba(255,255,255,0.8);
            display:flex;
            flex-direction: column;
            color:black;
            margin:10px auto;
            padding:30px;
            font-size:30px;
            box-sizing: border-box;
            justify-content: center;
            animation: littleFadeIn 0.5s;

            .answerFigure {
                font-size:70px;

                @media screen and (max-height:600px) {
               font-size:40px;
               }
               @media screen and (max-width:500px) {
                  font-size:40px;
                  }
            }

            @media screen and (max-height:600px) {
            max-width:180px;
            font-size:20px;
            height:180px;  
            }
            @media screen and (max-width:500px) {
               max-width:180px;
               font-size:20px;
               height:180px;  
            }
        }
    }
}

.playersHolder {
   position:relative;
   align-self: end;
    button.newPlayer {
        background-color: #076B05;
        font-size: 21px;
        padding: 9px 15px;
        line-height: 1.5em;
        margin:0;
      margin-top:-15px;
      z-index: 1;
      position: relative;

        &:hover {
        }
    }

    .allPlayers {
      background: #E8DFDC;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 10px;
      padding:20px;
      margin:0 auto 0;
      max-width:600px;
      font-size:18px;
      max-height:30vh;
      overflow-y:scroll;
      box-sizing: border-box;

      @media screen and (max-height:600px) {
      margin: 0 16px;
      max-height:50vh;
      }

      .playerNameHeader, .playerGuessHeader, .playerScoreHeader{
         display:inline-block;
         color:black;
         text-align: left;
         padding-left:5px;
         box-sizing: border-box;
         font-size:25px;
      }
      .playersHeaders {
      text-align: left;
      margin-bottom:0.5em;
      }
      .playerNameHeader {
         width:50%;
      }
      .playerGuessHeader {
         width:25%;
      }
      .playerScoreHeader {
         width:20%;
         text-align: center;
      }

        .player {
            animation: dropFade 0.3s;
            position:relative;
            text-align: left;

            button.removePlayer {
               text-indent: -9999px;
               overflow: hidden;
               text-decoration: none;
               border: none;
               position: absolute;
               height: 20px;
               width: 16px;
               padding: 0;
               margin: 0;
               margin-top: 0px;
               right: 15px;
               top: 5px;
               background-color: transparent;
               box-shadow: none;
               overflow:visible;

                &:after {
                    content: '\00d7';
                    position: absolute;
                    top: 0px;
                    right: -20px;
                    color: grey;
                    text-indent: 0;
                    font-family: sans-serif;
                    font-size: 24px;
                    line-height: 0.8em;
                    text-shadow: none;

                }
            
            }

            input.playerName, input.playerGuess{
                border:none;
                border-bottom:1px solid #999;
                background-color:rgba(255,255,255,0.6);
                padding:0px;
                border-radius:5px;
                margin-bottom:10px;
                text-align: left;
                font-family: 'Redressed';
                font-size:20px;
                box-sizing: border-box;
                display:inline-block;
                padding:5px;
            }
            
            input.playerName {
               width:45%;
               background-color:transparent;
               margin-right:5%;
            }

            input.playerGuess {
               width:23%;
               margin-right:2%;
            }

            .scoreFigure {
               width:20%;
               display: inline-block;
               color:black;
               text-align: center;
            }
            
        }
    }
}

.elisAndJohn {
    max-width: 300px;
    margin:0 auto;
    color:#555;

    animation:bubbleBob 3s infinite;

    .thoughtBubble {
        background-color:white;
        border-radius:20px;
        padding:30px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size:14px;
        position: relative;

        &:after {
            @include imgrepl();
            background:url('../images/thoughBubble.svg') top left no-repeat transparent;
            height:60px;
            width:100px;
            bottom:-40px;
            left:20px;
            position: absolute;
            display:block;
            content:'';
        }

        h3 {
            font-size:17px;
            margin-bottom:0.8em;
            text-decoration: underline;
        }
        
        p {
            margin-bottom:1em;
            text-align: left;
            line-height:1.4em;
        }

        a {
            color:#555;
        }

        strong {
            font-weight: bold;;
        }


    }

    position: absolute;
    right:20px;
    bottom:10px;

    @media screen and (max-width:1185px)  {
        position: relative;
        right:auto;
        bottom:auto;
    }
    @media screen and (max-height:680px)  {
        position: relative;
        right:auto;
        bottom:auto;
    }
}



@keyframes littleFadeIn {
    from {opacity:0}
    to {opacity:1}
  }

  @keyframes dropFade {
    from {
        opacity:0;
        transform: scale(3);
        }
    to {
        opacity:1;
        transform: scale(1);
    }
  }

  @keyframes bubbleBob {
    0% {
        transform:translateY(0);
        }
    50% {
        transform:translateY(10px);
    }
    100% {
        transform:translateY(0px);
    }
  }

  
